html {
    box-sizing: border-box;
    height: 100%
}

body {
    position: absolute;
    margin: 0;
    display:flex;
    align-items: center;
    height: 500px;
    top: 150px;
    left: 1200px;
}

.parkingSpot {
    position: absolute;
    width: 170px;
    height: 90px;
    right: 1100px;
    bottom: 300px;
    z-index: -1;
    
}

.parkingSpot img {
    width: 100%;    
    transform: rotate(270deg);
    position: absolute;
}

.car1{
    width: 200px;
    height: 100px;
}

.car1 img {
    width: 100%;    
    transform: rotate(180deg);
    
}

.car2 {
    width: 200px;
    height: 100px;
}

.car2 img {
    width: 100%;    
    transform: rotate(180deg);
    
}

.Scoreboard {
    position: fixed;
    margin: 10px;
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 0, 106);
  }
